.gallery {

    .info {
        text-align: center;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.54);
    }

    .content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;

        & > div > * {
            width: 100%;
            display: block;

            .mat-card {
                padding: 0;
                overflow: hidden;
                position: relative;

                .mat-card-header {
                    padding: 16px;

                    button {
                        height: 40px;

                        i {
                            font-size: 16px;
                        }
                    }

                    .mat-card-title {
                        font-size: 18px;
                    }
                }

                .mat-card-content {
                    position: relative;
                }
            }
        }

        .left-column {
            flex: 0 0 400px;
            display: flex;
            align-items: stretch;

            @media (max-width: 1024px) {
                flex: 0 0 300px;
            }

            app-gallery-users {
                padding-right: 16px;
                height: 882px;

                .mat-card {
                    .mat-card-content {
                        overflow: hidden;
                        height: 804px;
                    }
                }
            }
        }

        .right-column {
            flex: 1;

            app-gallery-albums {
                padding: 0 0 16px 16px;
                height: 250px;
                display: flex;

                & > .mat-card {
                    flex: 1;
                    
                    & > .mat-card-content {
                        height: 150px;
                        overflow: hidden;
                    }
                }
            }

            app-gallery-photos {
                padding: 16px 0 0 16px;
                height: 600px;
                display: flex;

                & > .mat-card {
                    flex: 1;

                    & > .mat-card-content {
                        height: 462px;
                        overflow: hidden;
                        margin-bottom: 0;
                    }

                    & > .mat-card-footer {
                        height: 56px;
                        margin: 0;
                    }
                }
            }
        }
    }
}
