<mat-card class="photos-card">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title fxFlex="120px" class="pt-12">{{ (photos$ | async).length }} Photos</mat-card-title>
    </mat-card-header>

    <!-- Loading Spinner -->
    <mat-card-content class="loading" *ngIf="(photosState$ | async).loading == true">
        <mat-spinner></mat-spinner>
    </mat-card-content>

    <!-- Content -->
    <mat-card-content appScrollbar class="content p-16 pt-0"  
        fxLayout="row wrap" 
        fxLayoutAlign="space-around space-between"
        *ngIf="(photosState$ | async).error == null && (photosState$ | async).loading == false">

        <!-- Photo Card -->
        <mat-card class="photo-card mb-16" *ngFor="let photo of filteredPhotos" fxFlex="180px">
            <img mat-card-image src="{{ photo.thumbnailUrl }}" alt="photo.title">
            <mat-card-content>
                <div class="title">{{ photo.title }}</div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>

    <!-- Error -->
    <mat-card-content *ngIf="(photosState$ | async).error != null" class="p-16">
        <div>{{ (photosState$ | async).error.message || 'A problem occured fetching photos' }}</div>
    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer>
        <mat-paginator [length]="(photos$ | async).length"
              [(pageSize)]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="setPage($event)">
        </mat-paginator>
    </mat-card-footer>
</mat-card>
