.photos-card {
    .content {
        .photo-card {
            .mat-card-content {

                .title {
                    overflow: hidden;
                    height: 17px;
                    margin: 0 16px 16px 16px;
                    white-space: nowrap;
                }
            }
        }
    }    
}
