.mat-card.users-card {
    & > .mat-card-header {
        background-color: #f9f9f9;

        .search {
            height: 36px;
            line-height: 36px;
            padding: 8px;
            margin-left: -16px;
            background: #FFFFFF;
            font-size: 13px;
            box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 
                        0 1px 1px 0 rgba(0,0,0,.14), 
                        0 1px 3px 0 rgba(0,0,0,.12);

            .icon {
                margin: 0;
                color: rgba(0, 0, 0, 0.54);
            }

            input {
                padding-left: 12px;
                height: 36px;
                color: rgba(0, 0, 0, 0.54);
                border: none;
            }
        }
    }

    .mat-card-content {
        overflow: hidden;

        &.loading {
            padding: 16px;
        }

        .mat-card.user-card {
            cursor: pointer;

            .mat-card-header {
                margin: 0;
                background-color: #fff;

                .avatar {
                    background-color: #2196f3;
                    color: #fff;
                    border-radius: 50%;
                    padding: 16px 8px 0 8px;
                    margin-right: 16px;
                    text-align: center;
                    font-size: 16px;
                }

                .mat-card-title {
                    font-size: 16px;
                }
            }
        }
    }
}
