<mat-card class="users-card">
	<mat-card-header fxLayout="row" fxLayoutAlign="space-between">
        <mat-card-title fxFlex="80px" class="pt-12 mb-12" *ngIf="headerState === 'title'">Users</mat-card-title>
        
        <!-- Search Input -->
        <div class="search-wrapper w-100" fxFlex fxLayout="row" fxLayoutAlign="start center" *ngIf="headerState === 'search'">
            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input [(ngModel)]="searchText" type="text" placeholder="Search or start new chat" fxFlex>
                <button mat-button class="fs-24 pl-0 pr-0" fxFlex="24px" (click)="headerState = 'title'; searchText = '';">&times;</button>
            </div>
        </div>

        <!-- Order Controls -->
		<div *ngIf="headerState === 'title'" fxFlex="80px" fxLayout="row" fxLayoutAlign="space-between">
			<button mat-button fxFlex="40px" class="pl-12" [matMenuTriggerFor]="sortMenu">
				<i class="far fa-sort-amount-down"></i>
			</button>
			<button mat-button fxFlex="40px" class="pl-12" (click)="headerState = 'search'">
				<i class="far fa-search"></i>
            </button>
            
            <!-- Sort Menu -->
            <mat-menu #sortMenu="matMenu" class="users-sort-menu">
                <button mat-menu-item (click)="onSort('name')" class="text-center">Name</button>
                <button mat-menu-item *ngFor="let sort of sortSelectionByName" (click)="onSort(sort.value)" fxLayoutAlign="space-between center">
                    <div>
                        <span *ngIf="selectedSort === sort.value" class="far fa-check"></span>
                    </div>
                    <span class="mr-24">{{ sort.viewValue }}</span>
                </button>
                <button mat-menu-item (click)="onSort('username')" class="text-center">Username</button>
                <button mat-menu-item *ngFor="let sort of sortSelectionByUsername" (click)="onSort(sort.value)" fxLayoutAlign="space-between center">
                    <div>
                        <span *ngIf="selectedSort === sort.value" class="far fa-check"></span>
                    </div>
                    <span class="mr-24">{{ sort.viewValue }}</span>
                </button>
                <button mat-menu-item (click)="onSort('email')" class="text-center">Email</button>
                <button mat-menu-item *ngFor="let sort of sortSelectionByEmail" (click)="onSort(sort.value)" fxLayoutAlign="space-between center">
                    <div>
                        <span *ngIf="selectedSort === sort.value" class="far fa-check"></span>
                    </div>
                    <span class="mr-24">{{ sort.viewValue }}</span>
                </button>
            </mat-menu>
		</div>
    </mat-card-header>
    
    <!-- Loading Spinner -->
	<mat-card-content class="loading" *ngIf="(usersState$ | async).loading == true">
		<mat-spinner></mat-spinner>
    </mat-card-content>
    
    <!-- Content-->
	<mat-card-content appScrollbar *ngIf="(usersState$ | async).error == null && (usersState$ | async).loading == false">
		<mat-card mat-ripple
                  class="user-card"
                  [ngClass]="{'selected': user.id === selectedUser.id}"
		          *ngFor="let user of users | textFilter: searchText"
		          (click)="onClickUser(user)">
			<mat-card-header>
				<div mat-card-avatar class="avatar">
					<i class="far fa-user"></i>
				</div>
				<mat-card-title>{{ user.name }}</mat-card-title>
				<mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
				<mat-card-subtitle class="mb-0">{{ user.email }}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
    </mat-card-content>
    
    <!-- Error -->
	<mat-card-content *ngIf="(usersState$ | async).error != null" class="p-16">
		<div>{{ (usersState$ | async).error.message || 'A problem occured fetching users' }}</div>
	</mat-card-content>
</mat-card>
