@import 'app/core/styles/style-imports.scss';

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page {
	.content-wrapper {
		width: 1024px;
        margin: 32px auto;
	}
}
